<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Daily Planet</h1>
<h2>Just another phoney media outlet</h2>

	<h1>Add Article</h1>
	<form method="post" action="/articles">
		<input type="text" name="article[title]"><br>
		<input type="text" name="article[author]"><br>
		<textarea name="article[body]"></textarea>
		<button>Save Article</button>
	</form>
</body>
</html>