<!DOCTYPE html>
<html>
<head>
	<title>express practice</title>
</head>
<body>
  <ul>
<h1>Daily Planet</h1>
<h2>Just another phoney media outlet</h2>

	  <h2> <%=article.title %> </h2>
	  <p> <%= article.author %></p>
	  <p> <%= article.body %> </p>
  </ul>
</body>
</html>